.cont1 {
  background-image: url("../img/restaurant.jpg");
  height: 300px;
}

#heading1 {
  text-align: center;
  color: white;
  padding-top: 120px;
}

.cont2 {
  background-image: linear-gradient(to right bottom, #33B0FF, #FCFF33, #4DFF33, #33FFEB);
  height: 250px;
}

#footerText {
  padding-top: 110px;
  text-align: center;
}